asgiref==3.11.1
Django==6.0.5
django-appconf==1.2.0
django-select2==8.4.8
joblib==1.5.3
numpy==2.4.4
pandas==3.0.2
python-dateutil==2.9.0.post0
scikit-learn==1.6.1
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
xgboost==3.2.0
