{% extends "core/base.html" %}

{% block title%} Home {%endblock%}

{%block content%}
<h1> Home page nigga!</h1>
<div>
    <h2>Total Viewers: {{total_viewers}}</h2>
    <h2>Total Accounts: {{total_accounts}}</h2>
</div>

<div>
    <li>
        <a href="{% url 'viewer_list' %}" style="font-size: 20px">Viewers List</a>
    </li> 
    <li>
        <a href="{% url 'account_list' %}" style="font-size: 20px">Account List</a> 
    </li>
    <li>
        <a href="{% url 'add_account' %}" style="font-size: 20px">Add account</a> 
    </li>
</div>
{%endblock%}