{% extends "core/base.html" %}

{% block title %}
Viewer Detail
{% endblock %}

{% block content %}

<h1>Viewer Detail</h1>

<div>
    <p>Age: {{ viewer.age }}</p>
    <p>Gender: {{ viewer.gender }}</p>
    <p>Country: {{ viewer.country }}</p>
    {% for account in viewer.account_set.all %}
        <a href="{% url 'account_details' account.pk %}">Account {{forloop.counter}}</a>
    {% empty %}
        <p>Could not find any accounts belonging to user</p>
    {% endfor %}
    
</div>
<br>

<a href="{% url 'viewer_list' %}">← Back to list</a>

{% endblock %}