


:root {
    --theme_black: #212121;
    --theme_red: #B20710;
    --theme_red_hover: #bd1a22;
}

html,body {
    background-color: var(--theme_black);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    overscroll-behavior: none;
    margin:0;
    font-weight: 100;
}

.page-container {
    max-width: 900px;
    margin: 0 auto;
}

body * {
    font-weight: inherit;
}







a {
   color: white;
   font-size: 40px; 
}

a:hover {
    color:rgb(239, 47, 79);
}








nav {
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    background: var(--theme_red);
    align-items: center;
    position: sticky;   /* or sticky if you want it to scroll then stick */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

}

nav a {
    color: white;
    text-decoration: None;
    font-size: 24px;
    padding: 6px 10px;
    border-radius: 6px;
}

nav a:hover {
    background: var(--theme_red_hover);
    color:black
}

nav a.active {
    color: black;
}









.chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.chart-box {
    background: lightgray;
    border-radius: 12px;
    border-width: 2px;
    border-color: black;
    padding: 15px;
    box-shadow: 0 2px 20px rgb(25, 24, 24);
    height: 400px;
    display: flex;
    flex-direction: column;
    flex:1
}


.chart-box canvas {
    flex: 1;
    width: 100% !important;
    height: 100% !important;
}







.form-box {
    background: var(--theme_black);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);

}









.chart-label-text {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}

.stat-label {
    margin:10px;
    font-size:30px;
}

.stat-text {
    margin:10px;
    font-size:80px;
}

.prediction-text {
    font-size: 30px;
    text-align: center;
}










container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding:5px;
    border-radius: 12px;
    box-shadow: 0 2px 20px rgb(25, 24, 24);
}

.form {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 30px;

    padding-bottom: 20px;
}

.list {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;

    padding-bottom: 20px;
}

.stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    box-shadow: none;
}

.stat-box {
    padding-left:30px;
    padding-right:30px;
    text-align: center;
}

.link-box {
    background:var(--theme_black); 
    border-radius:12px; 
    border: 3px solid; 
    border-color: var(--theme_red); 
    padding:20px; 
    width:100%; 
    text-align: center; 
    gap:20px;
}



.btn {
    display: inline-flex;
    background: var(--theme_red);
    color: white;
    padding: 10px 16px;
    border-radius: 8px;

    border-top: 3px solid #d61a24;
    border-left: 3px solid #d61a24;
    border-right: 3px solid #7a040a;
    border-bottom: 3px solid #7a040a;
    border-width: 5px;

    text-decoration: none;
    font-size: 30px;

    transform: translateY(0);
    transition: 0.1s ease;
    justify-content: center;

    padding-top: 30px; 
    padding-bottom: 30px;
}

.btn:hover {
    background-color:var(--theme_red_hover);
    color: black;
}


.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}


MovieChart {
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-left: 40px;
    padding-right: 40px;
}



form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    margin:10px;
}

select {
    background: var(--theme_black);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--theme_red);
    font-size: 16px;
}

input[type="number"] {
    background: var(--theme_black);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--theme_red);
    font-size: 16px;
    width:100px !important;
}

* {
    box-sizing: border-box;
}